<div id="containerPpal">
  <span id="header">
      <div id="botonera">
        <div>
          <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
        </div>
        <ul>
          <li id="logo"><a [routerLink]="['']">
  
            <div class="example-button-row">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon [ngStyle]="{'color':'white'}" >home</mat-icon>
            </button>
            </div>
          </a></li>
          <li>
            <a [routerLink]="['/represas']" [routerLinkActive]="['actived']">
              Represas              
            </a>
          </li>
          <li>
            <a [routerLink]="['/servicios']" [routerLinkActive]="['actived']">
              Servicios
            </a>
          </li>
          <li>
            <a [routerLink]="['/galeria']" [routerLinkActive]="['actived']">
              Galeria
            </a>
          </li>
          <li>
            <a [routerLink]="['/nuestro-equipo']" [routerLinkActive]="['actived']">
              Nuestro Equipo
            </a>
          </li>
          <li>
            <a [routerLink]="['/contactenos']" [routerLinkActive]="['actived']">
              Contactenos
            </a>
          </li>
        </ul>
      </div>
    </span>
    <div id="manejador">
      <section id="content">
        <router-outlet></router-outlet>
      </section>
    </div>
    <footer id="">Copy Right JSA</footer>
</div>