<div id="container">
    <mat-card>
            <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="formSingIn" (submit)="authentication()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="userName">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>
          <div *ngIf=!formSingIn.valid>Valido: Formulario errado </div>

          <div class="button">
            <button [disabled]="formSingIn.invalid" type="submit" mat-button>Login</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
</div>